################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FacebookLogin/obj/Debug
/FacebookLogin/bin
